.table {
  tbody {
    tr {
      td {
        white-space: nowrap;
        .actions {
          margin-top: -5px;
          .btn {
            padding: 6px !important;
            border-radius: 3px;
          }
        }
      }
    }
  }
}