body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.cursor-pointer {
  cursor: pointer !important;
}

.avatar-preview {
  width: 50px;
  height: 50px;
  img {
    width: 100%;
  }
}

.avatar-tooltip {
  padding: 8px !important;
  border-radius: 20% !important;
}

.invalid {
  &.react-select-lg__control {
    border: 1px solid $danger !important;
  }
}

.image-preview {
  margin-top: 20px;
  width: 100%;
  // height: 100px;
  img {
    width: 100%;
    height: auto;
  }
}