body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.cursor-pointer {
  cursor: pointer !important;
}

.avatar-preview {
  width: 50px;
  height: 50px;
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
}

.avatar-tooltip {
  padding: 8px !important;
  border-radius: 20% !important;
}

.invalid {
  &.react-select-lg__control {
    border: 1px solid $danger !important;
  }
}

.image-preview {
  margin-top: 30px;
  width: 100%;
  &.is_image {
    max-width: 240px;
    img {
      object-fit: cover;
      width: 240px;
      height: 240px;
    }
  }
}

.alert-dismissible .close {
  padding: 0;
}