.main-content {
  .fixed-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 500px);
  }

  &.dashboard {
    .club-list {
      width: 100%;
      input {
        height: 48px;      
      }
    }
  }

  &.detail a {
    color: #1E1B52;
  }

  table tr td a.detail-link {
    cursor: pointer;
    &:hover {
      color: #1a0dab;
      text-decoration: underline;
    }
  }
}