.main-content {
  .fixed-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 500px);
  }

  table tr td a.detail-link {
    cursor: pointer;
    &:hover {
      color: #1a0dab;
      text-decoration: underline;
    }
  }
}