.main-content {
  .container {
    iframe {
      height: 800px;
      margin-top: 50px;
      width: 100%;
    }
  }

  .fixed-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 500px);
  }

  &.dashboard {
    .club-list {
      width: 100%;
      input {
        height: 48px;      
      }
    }
  }

  &.detail a {
    color: #1E1B52;
  }

  a.detail-link {
    cursor: pointer;
    &.text-underline,
    &:hover {
      color: #1a0dab;
      text-decoration: underline;
    }
  }

  .form-group {
    &.calendar {
      &.invalid {
        .field {
          input {
            border-color: #dc3545;
          }
        }
      }

      .field {
        width: 100%;

        input {
          height: 48px;
        }
      }
    }

    .ui.input {
      input {
        height: 48px;
      }
    }
  }

  .form-control[readonly] {
    background-color: $white;
  }

  &.has-hand-card {
    position: relative;
    .hand-card {
      position: fixed;
      right: -400px;
      top: 105px;
      width: 390px;
      height: 300px;
      background-image: url('../img/homehand.png');
      background-position: left;
      background-size: cover;
      opacity: 0;
      @media screen and (max-width: 1480px) {
        width: 20%;
      }
      @include media-breakpoint-down('lg') {
        display: none;
      }
      &.right-handle {
        right: 0;
        opacity: 1;
        transition: all 1s ease;
      }
    }
  }
}